ERS Client Console/Connected Services/RemoteService/EmailRegistration1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Email Registration Service/EmailRegistration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Email_Registration_Service" />
  <xs:import schemaLocation="http://localhost/Email Registration Service/EmailRegistration.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Email_Registration_Service" minOccurs="0" name="GetEmailsResult" nillable="true" type="q1:ArrayOfEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Email_Registration_Service" minOccurs="0" name="GetEmailByIdResult" nillable="true" type="q2:EmailFull" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Email_Registration_Service" minOccurs="0" name="email" nillable="true" type="q3:EmailFull" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Email_Registration_Service" minOccurs="0" name="email" nillable="true" type="q4:EmailFull" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="unrelatedTags" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date_left" type="xs:dateTime" />
        <xs:element minOccurs="0" name="date_right" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Email_Registration_Service" minOccurs="0" name="GetEmailsByPeriodResult" nillable="true" type="q6:ArrayOfEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsByTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsByToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Email_Registration_Service" minOccurs="0" name="GetEmailsByToResult" nillable="true" type="q7:ArrayOfEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsByFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsByFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Email_Registration_Service" minOccurs="0" name="GetEmailsByFromResult" nillable="true" type="q8:ArrayOfEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsByTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsByTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Email_Registration_Service" minOccurs="0" name="GetEmailsByTagResult" nillable="true" type="q9:ArrayOfEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>